<div class="px-3 grid grid-cols-7 grid-rows-2 gap-3 w-full">
  <div class="grid grid-cols-3 grid-rows-2 gap-3 col-span-4">
    <div class="bg-white rounded-lg shadow-sm row-span-2">

    </div>

    <div class="border"></div>
    <div class="border"></div>
    <div class="border col-span-2"></div>
  </div>

  <div class="bg-white px-6 py-5 shadow-sm rounded-lg col-span-3">
    <div class="flex items-center mb-4">
      <span class="font-semibold text-lg block">Order Summary</span>

      <div class="ml-auto">
        <div class="badge badge-success badge-xs"></div>
        <span class="ml-2 text-sm">Current Year</span>

        <div class="badge bg-gray-300 badge-xs ml-3"></div>
        <span class="ml-2 text-sm">Last Year</span>
      </div>
    </div>

    <div class="w-full h-full">
      <canvas baseChart
              [type]="'line'"
              [data]="lineChartData"
              [options]="lineChartOptions"
              [legend]="false">
      </canvas>
    </div>
  </div>
</div>
